$winform-color: var(--semi-color-bg-1);
$drag-opt: no-drag;
$height:40px;
$width:50px;
.winform {
    height: $height;
    -webkit-app-region: drag !important;
    border-radius: 5px 5px 0px 0px;
    background-color: $winform-color;
    border-bottom: 1px solid var(--semi-color-border);
}

.btn {
    height: $height !important;
    float: right;
    border-radius: 0;
    background-color: $winform-color;
    -webkit-app-region: $drag-opt;
}
.navBtn {
  height:$height !important;
  float: left;
  background-color: $winform-color;
  -webkit-app-region: $drag-opt;
}
.topbar_logo_container {
    position: absolute;
    left:10px;
    margin-top: 7px;
    height: $height*0.95;
    width: $width*2;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    display: flex;
    align-items: center;
}

  
