.frame{
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color :var(--semi-color-bg-1);
}
.wrapper{
    overflow: auto;
    height: 100%;
    width: 100%;
    &::-webkit-scrollbar {
        width: 6px;
        background-color:var(--semi-color-bg-1);
    }
    &::-webkit-scrollbar-track {
        background-color: transparent;
        -webkit-border-radius: 2em;
        -moz-border-radius: 2em;
        border-radius: 2em;
    }
    &::-webkit-scrollbar-track-piece {
        background-color: transparent;
        -webkit-border-radius: 2em;
        -moz-border-radius: 2em;
        border-radius: 2em;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba(var(--semi-grey-6), 1);
        -webkit-border-radius: 2em;
        -moz-border-radius: 2em;
        border-radius: 2em;
    }
    
}