.search_box{
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
}
.search_wrap{
    width: 50%;
}
.NovelCol{
    display: flex;
    justify-content: center;
}
.card_box{
    width:80%;
    height: 222px;
    padding: 2px;
}