.search_box{
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
}
.search_wrap{
    width: 50%;
}
.NovelCol{
    display: flex;
    justify-content: center;
}
.card_box{
    width:80%;
    height: 222px;
    padding: 2px;
}

.component-list-demo-booklist {
    .list-item {
        &:hover {
            background-color: var(--semi-color-fill-0);
        }
        &:active {
            background-color: var(--semi-color-fill-1);
        }
    }
}

.component-list-demo-booklist-active-item {
    background-color: var(--semi-color-fill-0);
}